header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 16px;
  margin-top: 4px;

  border-bottom: 1px solid var(--border-color);
  border-top: 3px solid var(--primary);
}
