.stars {
  display: flex;
  column-gap: 4px;
  align-items: center;
}

.stars__item {
  width: 20px;
  height: 20px;
}

.stars__item svg {
  width: 100%;
  height: 100%;
  stroke: orangered;
}

.stars__item_filled svg {
  fill: orangered;
}
